<ion-header>
    <ion-navbar color="light-gray" class="all">
        <ion-title>
            Login
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="page">
    
    <p class="center">
		<ion-icon class="large lighter" primary name="contact"></ion-icon>
    </p>
    <form [formGroup]="loginEmailForm" class="formStyle">
	    <ion-list>
		    <ion-item>
			    <ion-label floating>Email</ion-label>
			    <ion-input clearInput formControlName="email" type="email"[class.invalid]="!loginEmailForm.controls.email.valid &&(loginEmailForm.controls.email.dirty || submitAttempt)" ></ion-input>
            </ion-item>
            <ion-item *ngIf ="!loginEmailForm.controls.email.valid && (loginEmailForm.controls.email.dirty || submitAttempt)">
                <p> Please enter a valid Email</p>
            </ion-item>

			<ion-item>
                <ion-label floating>Password</ion-label>
			    <ion-input clearInput formControlName="password" type="password"[class.invalid]="!loginEmailForm.controls.password.valid &&(loginEmailForm.controls.password.dirty || submitAttempt)"></ion-input>
			</ion-item>
            <ion-item *ngIf ="!loginEmailForm.controls.password.valid && (loginEmailForm.controls.password.dirty || submitAttempt)">
            <p> Please enter a valid password </p>
		    </ion-item>
            
        </ion-list>
    </form>

	<div padding>
        <ion-row>
            <ion-col width-50>
		        <button ion-button full round color="dark" (click)="onSubmit()">Login</button>
            </ion-col>
            <ion-col width-50>
                <button ion-button full round color = "dark" (click)="goToSignUpPage()">Sign Up</button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <button ion-button icon-right full round color="primary" (click)="loginWithFacebook()">Login With Facebook</button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <button  ion-button full round color ="light" (click)="goToForgotPasswordPage()" >Forgot Password</button>
            </ion-col>
        </ion-row>
	</div>
</ion-content>
            
            
