.center{
    text-align:  center;
}

ion-icon.large{
    font-size: 7em;
}

.formStyle{
    background-color: lightgrey;
    color: lightgrey;
}

    .page{
        background-image: url('../assets/images/background/Background.png');
        background-position: left top;
        background-attachment: fixed;
        background-size: 100% 100%;
    }