.ios, .md{
    page-signup{
        p{
            font-size: .8em;
            color: #d2d2d2;
        }
    }
}

    .page{
        background-image: url('../assets/images/background/Background.png');
        background-position: left top;
        background-attachment: fixed;
        background-size: 100% 100%;
    }